{
	"api_url": "url",
	"database": "dctrack",
	"headers": {
		"Authorization": "token"
	},
	"domain": "DOMAIN",
	"site": "SITE",
	"odbc": {
		"driver": "{driver}",
		"server": "server",
		"port": "port",
		"database": "database",
		"uid": "uid",
		"pwd": "pwd"
	}
}