# Default ignored files
/shelf/
/workspace.xml
/*.png!/label/.conf.json
/label/.env.json
!/label/Flask_video.py
/label/.conf.json
.vscode/settings.json
*.pyc
get-pip.py
label_regular/.conf.json
label_regular/.env.json
label_regular/output/output.json
server.log
_build
build/doctrees